*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: violet;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: white;
    background-color: black;
}

.reset{
    padding: 1rem;
    font-size: 1.26rem;
    background-color: red;
    color: azure;
    border-radius: 1rem;
    margin-right: 2px;
}
.newBtn{
     padding: 1rem;
    font-size: 1.26rem;
    background-color: red;
    color: azure;
    border-radius: 1rem;
    margin-left: 2px;
}
.msg{
    font-size: 8vmin;
    margin-bottom: 10px;
    color: white;
}
.msg-container{
    height: 5vmin;
}
.hide{
    display: none;
}
.h1{
    color: white;
}